<div id="<%= dom_id note %>" class="card">
  <div>
    <strong>Title:</strong>
    <%= note.title %>
  </div>

  <div>
    <strong>Content:</strong>
    <%= note.content %>
  </div>

  <div>
    <strong>List:</strong>
    <%= note.list_id %>
  </div>

</div>
